click
numpy
pandas
scipy
altair
vl-convert-python
jupyterlab
pytest
scalene
flit
ruff
icecream
myst-parser
sphinx
sphinx-rtd-theme
sphinx-autoapi
sphinx-autobuild
black
isort
jupyterlab-code-formatter
